@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=Big+Shoulders+Display:wght@800;900&family=IBM+Plex+Sans:wght@400;700&family=Open+Sans&display=swap");

.container {
  width: 90%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}
header a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: hsla(220, 50%, 17%, 1);
  background-color: hsla(198, 28%, 93%, 1);
  border-radius: 8px;
  padding: 11px 14px;
  transition: 0.5s;
}
header a:hover {
  background-color: hsla(220, 50%, 17%, 1);
  color: white;
}

h1 {
  padding-top: 64px;
  padding-bottom: 32px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: hsla(220, 51%, 17%, 1);
}

.order-text p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: hsla(220, 23%, 58%, 1);
  padding-bottom: 43px;
}
.pre-order {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(22, 88%, 52%, 1);
  border-radius: 8px;
  padding: 11px 14px;
  transition: 0.5s;
}
.pre-order:hover {
  opacity: 0.5;
}
.releaze {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: hsla(221, 23%, 58%, 1);
  text-transform: uppercase;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.keyboard-top-img {
  position: relative;
  overflow-x: hidden;
}
.top-img {
  width: 100%;
  height: 100%;
  position: relative;
  right: -5%;
  border-radius: 20px;
}
.tablet {
  display: none;
}
.desktop {
  display: none;
}
.pics {
  display: flex;
  padding-top: 30px;
}
.key-mob {
  position: relative;
  overflow: hidden;
}
.key-phone-mobile {
  position: relative;
  left: -33%;
  width: 130px;
  border-radius: 20px;
}
.key-glass-mobile {
  margin-left: 20px;
  width: 220px;
  border-radius: 20px;
}

.over {
  width: 130px;
  height: 195px;
  background-color: hsla(22, 88%, 52%, 1);
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: -33%;
  opacity: 0.7;
}
.key-phone-tablet {
  display: none;
}

.key-glass-tablet {
  display: none;
}
.key-phone-desktop {
  display: none;
}
.key-glass-desktop {
  display: none;
}
.text-box {
  padding-top: 50px;
}
.text-box h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: hsla(220, 51%, 17%, 1);
}
.text-box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: hsla(220, 23%, 58%, 1);
  padding-top: 24px;
  padding-bottom: 110px;
}
.boxes {
  display: grid;
  grid-template-columns: 1 1fr;
  gap: 70px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-img {
  background-color: hsla(22, 88%, 52%, 1);
  width: 65px;
  height: 65px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: hsla(220, 51%, 17%, 1);
  padding-top: 48px;
  padding-bottom: 24px;
}

.box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: hsla(220, 23%, 58%, 1);
}

footer {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: hsla(220, 23%, 58%, 1);
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
span {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .top {
    flex-direction: row;
    margin: 0 auto;
    padding-left: 5%;
  }
  .order-text {
    width: 100%;
  }
  .keyboard-top-img {
    top: 50px;
  }
  .pics {
    padding-top: 100px;
    width: 90%;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
    right: -15%;
  }
  .key-phone-mobile {
    display: none;
  }
  .key-phone-tablet {
    display: block;
    height: 320px;
    width: 215px;
    border-radius: 20px;
  }
  .key-mob {
    overflow: visible;
  }
  .key-mob img {
    left: 0;
  }
  .key-glass-mobile {
    display: none;
  }
  .key-glass-tablet {
    display: block;
    height: 320px;
    width: 420px;
    border-radius: 20px;
    padding-left: 50px;
  }
  .over {
    left: 0;
    width: 215px;
    height: 320px;
  }
  .text-box {
    display: flex;
    justify-content: space-between;
  }
  .text-box h2 {
    text-align: left;
  }
  .text-box p {
    text-align: left;
    width: 400px;
  }
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    align-items: flex-start;
  }
  .box h2,
  .box p {
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(/assets/shared/pattern-square.svg),
      url(/assets/shared/pattern-square.svg);
    background-repeat: no-repeat;
    background-position: 117% 9%, -19% 56%;
  }
  .mobile,
  .tablet {
    display: none;
  }
  .desktop {
    display: block;
    position: static;
  }
  .top {
    width: 80%;
    padding-left: 0;
    justify-content: center;
    padding-top: 50px;
  }
  .container {
    width: 80%;
  }
  .order-text {
    width: 100%;
  }
  .keyboard-top-img {
    top: 0;
  }
  .links {
    justify-content: start;
    gap: 40px;
  }
  .key-phone-tablet {
    display: none;
  }
  .key-glass-tablet {
    display: none;
  }
  .key-glass-desktop {
    display: block;
    width: 100%;
    width: 445px;
    height: 480px;
    border-radius: 20px;
    margin-left: 30px;
  }
  .key-phone-desktop {
    display: block;
    width: 100%;
    border-radius: 20px;
    width: 255px;
    height: 480px;
  }
  .text-box {
    flex-direction: column;
    width: 255px;
    padding-top: 70px;
  }
  .text-box p {
    width: auto;
  }
  .pic-section {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
  }
  .pics {
    padding-top: 30px;
    padding-right: 30px;
  }
  .over {
    width: 255px;
    height: 480px;
  }
  .boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}
